{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <p>params</p>
    <p>{{ post[2] }}</p>
    <p>{{ post['AppName'] }}</p>
    <p>{{ post['AppVersion'] }}</p>
    <p>{{ post['CookieEnabled'] }}</p>
    <p>{{ post['Geolocation'] }}</p>
    <p>{{ post['Platform'] }}</p>
    <p>{{ post['UserAgent'] }}</p>
    <p>{{ post['JavaEnabled'] }}</p>
    <p>{{ post['WindowHeight'] }}</p>
    <p>{{ post['WindowWidth'] }}</p>
    <p>{{ post['WindowOutHeight'] }}</p>
    <p>{{ post['WindowOutWidth'] }}</p>
    <p>{{ post['Opener'] }}</p>
    <p>{{ post['EvalBrowser'] }}</p>

{% endblock %}
