{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <p>params</p>
    <p>{{ post['url'] }}</p>
    <p>{{ post[3] }}</p>
    <p>{{ post['AppName'] }}</p>
    <p>{{ post['AppVersion'] }}</p>
    <p>{{ post['CookieEnabled'] }}</p>
    <p>{{ post['Geolocation'] }}</p>
    <p>{{ post['Platform'] }}</p>
    <p>{{ post['UserAgent'] }}</p>
    <p>{{ post['JavaEnabled'] }}</p>
    <p>{{ post[11] }}</p>
    <p>{{ post[12] }}</p>
    <p>{{ post[13] }}</p>
    <p>{{ post[14] }}</p>
    <p>{{ post['Opener'] }}</p>
    <p>{{ post['EvalBrowser'] }}</p>
    <p>{{ post['result'] }}</p>
{% endblock %}
